* {
  /* Styling applied to the whole page */
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #e5e5e5;
}

/*  1 Mobile and small devices media query  */
@media only screen and (max-width: 768px) {
  /*  1.1 Header  */

  .desktop-menu{
    display: none;
  }
  .container-homepage {
    background-image: url(images/header-background-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 718px;
  }
  
  .headline {
    background-image: url(images/header-shapes\ mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 588px;
  }
  a.mobile-menu-item {
    color: #6070ff;
    font-size: 20px;
    margin-right: 19px;
    margin-top: 12px;
  }
  .mobile-nav {
    /* make the items on the nav bar line horizontally */
    display: flex;
    justify-content: space-between;
  }
  .logo {
    /* My Logo */
    width: 76px;
    height: 20px;
    font-size: 18px;
    color: #6070ff;
    font-weight: 700;
    margin-left: 24px;
    margin-top: 12px;
  }
  
  a.nav-item {
    text-decoration: none;
  }
  .headline-text {
    padding-top: 114px;
    margin-left: 24px;
    margin-right: 24px;
    width: 327px;
    height: 146px;
    top: 276px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }
  
  h2 {
    /* header 2 */
    margin-bottom: 12px;
    font-weight: 700px;
    line-height: 52px;
    font-size: 40px;
    color: #172b4d;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .socials {
    margin-top: 12px;
  
    /* Make it bolder */
    font-weight: 500px;
    font-size: 16px;
  
    /*  color  */
    color: #7f8cff;
  }
  
  

}

/* 2 Desktop and Large devices media query  */
@media only screen and (min-width: 768px) {
  /*  2.1 Header  */
  .mobile-nav {
    display: none;
  }
 
  .desktop-menu {
    display: flex;
    
  }
  .desktop-logo {
    padding: 25px 0px 0px 150px;
    width: 76px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070FF;
  }
  .desktop-menu-list {
    display: flex;
    margin-left: auto;
    margin-right: 154px;
    align-items: center;
  }
  .list-items {
    list-style: none;
    padding: 25px 32px 0px 32px;
    
  }
  .list-items a{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    color: #344563;
  }
.container-homepage{
  background-image: url(images/header\ background\ shape-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 916px;

}
.headline {
  background-image: url(images/Header\ bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 712px;
}

.headline-text {
  padding-left: 20%;
  padding-top: 15%;
  padding-right: 25%;
}
h2 {
  height: 122px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091E42;
  padding-bottom: 12px;
}
.socials {
  padding-top: 12px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
  padding-bottom: 12px;
}



}

.twitter {
  /* twitter icon */
  width: 19.99px;
  height: 19.96px;
}

.fa-linkedin {
  color: #505f79;
  font-size: 25px;
  padding-left: 20.3px;
  padding-right: 20px;
}

.m {
  height: 16px;
  padding-right: 20px;
}

.github {
  height: 20px;
  padding-right: 19.9px;
}

.like {
  height: 20px;
}







/* ------------Work section------------ */
.section-work {
  margin-top: 112px;
  margin-left: 24px;
  margin-right: 24px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-col {
  box-sizing: border-box;
  background-color: #ffff;
  padding: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 104px;
  border-radius: 16px;
  height: 552px;
  width: 327px;
}

.work-img {
  border-radius: 8px;
  margin-bottom: 12px;
}

.work-col h3 {
  width: 295px;
  height: 36px;
  margin-bottom: 20px;
  color: #172b4d;

  /* Bolden the font */
  font-weight: 700px;
  font-size: 32px;
  line-height: 44px;
}

.work-sub {
  width: 35px;
  height: 16px;

  /*  Bolden font */
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #344563;
}

.work-skill {
  width: 88px;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.counter {
  margin-left: 12px;
  margin-right: 12px;
}

.work-experience {
  width: 88px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.text-col {
  width: 295px;
  height: 76px;
  font-weight: 400;
  color: #344563;
  margin-bottom: 12px;
}

.skills {
  background-color: #ebebff;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  margin-right: 8px;

  /* Font styling */
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  color: #6070ff;
}

.view-btn {
  border: solid #396df2 1px;
  padding: 12px;
  width: 100px;
  height: 24px;
  margin-top: 20px;
  border-radius: 8px;
}

a .view-btn {
  /* font styling  */
  text-decoration: none;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #396df2;
}

.view-btn:hover {
  background: #6070ff;
  color: #fff;
}

/* -- About Section    --- */

.about-section {
  background-image: url(images/Base\ about\ my\ self.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1263px;
}

.about-col {
  padding: 114px 24px 12px 24px;
}

.about-text {
  height: 144px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

a.connect {
  padding-top: 12px;
  padding-bottom: 26px;
  width: 117px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #7f8cff;
}

.git {
  height: 20px;
  width: 17.99px;
}

.likee {
  padding-right: 20px;
}

.twit {
  padding-right: 20px;
}

.resume-btn {
  padding: 12px;
  border: solid #396df2 1px;
  border-radius: 16px;
  width: 138px;
  margin-top: 26px;
}

a .resume-btn {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  color: #396df2;
  margin-bottom: 60px;
}

.resume-btn:hover {
  background: #6070ff;
  color: #fff;
}

h5 {
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-left: 36px;
}

.angle-down {
  float: right;
  margin-right: 64px;
}

.languages {
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  padding-top: 12px;
}

.my-lang {
  display: flex;
  width: 303px;
  height: 66.72px;
  margin-top: 24px;
  border-radius: 8px;
  background: #f7f7f9;
}

.my-lang-text {
  width: 215px;
  height: 24px;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  line-height: 20px;
  padding: 21px 16px 21px 16px;
  align-items: center;
  align-content: space-around;
}

.lang-img {
  padding-left: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 48px;
  height: 48px;
}

a.my-lang {
  text-decoration: none;
}

.others {
  margin-top: 36px;
  margin-left: 36px;
}

.framework {
  width: 300px;
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 2px solid #acb7c3;
}

.framework-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.fa-angle-right {
  float: right;
  font-size: 20px;
}

/* contact section */
.contact-section {
  background-image: url(images/contact\ form\ shapes-mobile@2x.fw.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 779px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

h4 {
  padding-left: -213px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  padding-top: 103px;
}

.contact-text {
  height: 102px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  padding-right: 12%;
  padding-left: 12%;
  text-align: center;
}

form {
  margin-top: 80px;
  margin-left: 15px;
}

input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 48px;
  border: solid #fff;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 16px;

  /*     Font styling    */
  font-size: 17px;
  font-weight: 400;
  color: #172b4d;
}

textarea {
  width: 320px;
  height: 170px;
  border-radius: 8px;

  /* Font styling */
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #cfd8dc;
  padding-top: 15px;
  padding-left: 16px;
  margin-right: 24px;
}

.contact-btn {
  background-color: #fff;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 8px;
  width: 140px;
  margin-top: 22px;
  /* Font styling */
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.contact-btn:hover {
  background: #6070ff;
  color: #fff;
  border: #fff 1px solid;
  border-radius: 8px;
}
