* {
  /* Styling applied to the whole page */
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
nav {
  /* make the items on the nav bar line horizontally */
  display: flex; 
  justify-content: space-between;
  margin: 12px 15px 5px 15px;

  
}
.logo {
  /* My Logo */
    font-size: 18px;
    color: #6070FF;
    font-weight: 700;
  
   
}
.menu {
  /* Hamburger menu */  
  color: #6070FF;
  font-size: 20px;
  
}
.headline {
  background-image: url(images/header-shapes\ mobile.png);
  position: absolute;
  height: 718px;
}
.headline-tag {
  padding-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
}
h2{
  /* header 2 */
  margin-bottom: 12px;
  font-weight: 700px;
  font-size: 40px;
  color: #172B4D;
  align-items: center;
  font-family: 'Poppins', sans-serif

}
.socials {
  margin-top: 12px;

  /* Make it bolder */
  font-weight: 500px;
  font-size: 16px;

  /*  color  */
  color: #7F8CFF;

}
.twitter {
  /* twitter icon */
  width: 19.99px;
  height: 19.96px;
  
}

.fa-linkedin {
 color: #505F79;
 font-size: 25px;
 padding-left: 20.3px;
 padding-right: 20px;
}
.m {
  height: 16px;
  padding-right: 20px;
}